<div class="login-form">
  <mat-card class="login-form-container">
    <mat-card-header class="login-form-container-header">
      <mat-card-title>
        <h3>Login</h3>
      </mat-card-title>
    </mat-card-header>
    <form>
      <mat-form-field>
        <mat-label>Enter email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter fullname</mat-label>
        <input matInput placeholder="Fullname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter password</mat-label>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>

      <div class="login-form-forgot-password">
        <a href="#">Forgot password?</a>
      </div>
      <button class="login-form-submit-button" mat-flat-button color="primary">Sign in</button>
      <button class="login-form-submit-button" mat-button>Sign up</button>
    </form>
  </mat-card>
</div>