.sidebar-navigation-icon {
    height: 1.5em;
    width: auto;
    color: #fff;
    fill: #000;
}

.sidebar {
    padding: 0.5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.vertical-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vertical-menu li {
    display: flex;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: 0.2s linear;
}

.vertical-menu li span {
    font-size: 18px;
    color: #000000;
    vertical-align: bottom;
}

.vertical-menu li:hover {
    background: #eceff1;
    color: #fff;
}

.vertical-menu li svg {
    text-align: center;
    margin-right: 15px;
}

.sidebar-navigation,
.sidebar-config {
    flex: 1; 
}

.sidebar-config {
    display: flex;
    align-items: flex-end; 
    margin-bottom: 20px;
}