<div class="sidebar">
    <div class="sidebar-logo">
        <h3>Dashboard</h3>
    </div>

    <div class="sidebar-navigation">
        <ul class="vertical-menu">
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Home</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Dashboard</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Users</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Calendar</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Projects</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Help</span>
            </li>
        </ul>
    </div>

    <div class="sidebar-config">
        <ul class="vertical-menu">
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Username</span>
            </li>
            <li>
                <svg class="sidebar-navigation-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    data-testid="HomeIcon">
                    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                </svg>
                <span>Setting</span>
            </li>
        </ul>
    </div>
</div>