<div class="content">
    <p>Hi {{loggedUser?.fullname}},<br>Welcome back!</p>

    <div class="stats">
        <mat-card class="stat">
            <div class="circle blue">
                <svg>
                    <path
                        d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z">
                    </path>
                </svg>
            </div>
            <div class="stack">
                <div>26,789</div>
                <div>Likes</div>
            </div>
        </mat-card>

        <mat-card class="stat">
            <div class="circle red">
                <svg>
                    <path
                        d="m12 21.35-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z">
                    </path>
                </svg>
            </div>
            <div class="stack">
                <div>6,754</div>
                <div>Love</div>
            </div>
        </mat-card>

        <mat-card class="stat">
            <div class="circle yellow">
                <svg>
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM8.5 8c.83 0 1.5.67 1.5 1.5S9.33 11 8.5 11 7 10.33 7 9.5 7.67 8 8.5 8zM12 18c-2.28 0-4.22-1.66-5-4h10c-.78 2.34-2.72 4-5 4zm3.5-7c-.83 0-1.5-.67-1.5-1.5S14.67 8 15.5 8s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z">
                    </path>
                </svg>

            </div>
            <div class="stack">
                <div>52,789</div>
                <div>Smiles</div>
            </div>
        </mat-card>
    </div>

    <div>
        <mat-card class="targets">
            <h3>Targets</h3>
            <div class="target">
                <div class="info">
                    <span>Views</span>
                    <span>75%</span>
                </div>
                <div class="progress blue">
                    <div class="progress-bar blue" style="width: 50%;"></div>
                </div>
            </div>
            <div class="target">
                <div class="info">
                    <span>Views</span>
                    <span>75%</span>
                </div>
                <div class="progress yellow">
                    <div class="progress-bar yellow" style="width: 26%;"></div>
                </div>
            </div>
            <div class="target">
                <div class="info">
                    <span>Views</span>
                    <span>75%</span>
                </div>
                <div class="progress red">
                    <div class="progress-bar red" style="width: 70%;"></div>
                </div>
            </div>
        </mat-card>
    </div>


    <mat-card style="background-color: #2962ff;">
        <div class="notification">
            <div class="circle">
                <svg>
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                    </path>
                </svg>
            </div>
            <h3>Congratulations John</h3>
            <p>You have completed 75% of your profile. Your current progress is great.</p>
            <button mat-raised-button>View profile</button>
        </div>
    </mat-card>

    <div class="views-chart">
        <mat-card>
            <div class="title">
                <p>Views</p>
                <h3>6.967.431</h3>
            </div>
            <canvas id="lineChart" width="400" height="200"></canvas>
        </mat-card>
    </div>

    <div class="stats" style="height: 200px;">
        <h3 style="margin-bottom: 1rem;">Meetings</h3>
        <mat-card class="stat">
            <div class="circle">
                <img src="" alt="face">
            </div>
            <div class="stack">
                <div>Emmy Anderson</div>
                <div>8:00 - 10:00</div>
            </div>
        </mat-card>
        <mat-card class="stat">
            <div class="circle">
                <img src="" alt="face">
            </div>
            <div class="stack">
                <div>Emmy Anderson</div>
                <div>8:00 - 10:00</div>
            </div>
        </mat-card>
        <mat-card class="stat">
            <div class="circle">
                <img src="" alt="face">
            </div>
            <div class="stack">
                <div>Emmy Anderson</div>
                <div>8:00 - 10:00</div>
            </div>
        </mat-card>
    </div>
</div>