<div class="content">
    <h2>Hi <b>{{loggedUser?.fullname}}</b>,<br>Welcome back!</h2>

    <div class="d-flex-column">
        <app-rating
            path="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"
            color="#2962ff" title="Love">
        </app-rating>
        <app-rating
            path="m12 21.35-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            color="#ff3d00" title="Love">
        </app-rating>

        <app-rating
            path="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM8.5 8c.83 0 1.5.67 1.5 1.5S9.33 11 8.5 11 7 10.33 7 9.5 7.67 8 8.5 8zM12 18c-2.28 0-4.22-1.66-5-4h10c-.78 2.34-2.72 4-5 4zm3.5-7c-.83 0-1.5-.67-1.5-1.5S14.67 8 15.5 8s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"
            color="#ffc400" title="Smiles">
        </app-rating>
    </div>

    <div>
        <mat-card class="targets">
            <h3>Targets</h3>
            <app-progress-bar title="Views" color="#2962ff"></app-progress-bar>
            <app-progress-bar title="Followers" color="#ffc400"></app-progress-bar>
            <app-progress-bar title="Income" color="#ff3d00"></app-progress-bar>
        </mat-card>
    </div>

    <mat-card style="background-color: #2962ff; height: 200px;">
        <div class="notification">
            <div class="circle">
                <svg>
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                    </path>
                </svg>
            </div>
            <h3>Congratulations {{loggedUser?.fullname}}</h3>
            <p>You have completed 75% of your profile. Your current progress is great.</p>
            <button mat-raised-button>View profile</button>
        </div>
    </mat-card>

    <app-viewschart></app-viewschart>

    <div class="d-flex-column">
        <h3>Meetings</h3>
        <app-meeting></app-meeting>
        <app-meeting></app-meeting>
        <app-meeting></app-meeting>
    </div>
</div>